page-senior {
    .backgroud-senior{
        width:100%;
        height:100%;
        columns: #000000;
        font-weight:bold;
        animation: myanimation 10s infinite;
    }
    .img{
        padding-left: 28%;
    }

}
